<div ng-include src="'partials/navigation.html'"></div>
<div class="content">
<div class="container-fluid">
    <h1 style="margin-bottom: 1em;">Paycheck Estimator</h1>

    <div class="container-fluid">

        <div class="col col-12">
            <div layout="row" layout-align="start center">
                <span><strong>Select a Job: </strong></span>
                <md-select id="jobSelect" class="col col-3" ng-model="jobInfo" ng-change="formFill()">
                    <md-option class="col col-12" ng-repeat="job in allJobs" ng-value="job">{{job.title}}</md-option>
                </md-select>
            </div>
        </div>

        <!-- Gross Pay -->
        <div class="col col-12" style="margin-bottom: 1em;">
            <div class="row">
                <span class="col col-6 border mw-100 card-header">Gross Pay</span>
            </div>
            <div class="row">
                <span class="col col-3 border">Salary</span>
                <span class="col col-3 border">{{jobInfo.wage}}</span>
            </div>
            <div class="row">
                <span class="col col-3 border">Frequency
                    <span ng-show="jobInfo.frequency == 'Hourly'">*</span>
                    <span ng-show="jobInfo.frequency == 'Annually'">*</span>
                </span>
                <span class="col col-3 border">{{jobInfo.frequency}}</span>
            </div>
            <div class="row">
                <span class="col col-3 border">Pay Period Gross</span>
                <span class="col col-3 border">{{payPeriodGross}}</span>
            </div>
            <div class="row">
                <span class="col col-3 border">Annual Gross</span>
                <span class="col col-3 border">{{annualGross}}</span>
            </div>
            <span style="font-weight: lighter; font-style: italic;" ng-show="jobInfo.frequency == 'Hourly'">* Hourly frequencies will be estimated weekly at 40 hour weeks</span>
            <span style="font-weight: lighter; font-style: italic;" ng-show="jobInfo.frequency == 'Annually'">* Annual frequencies will be estimated using monthly pay periods</span>
        </div>

        <!--Filing Status / Witholdings -->
        <div class="col col-12" style="margin-bottom: 1em;">
            <div class="row">
                <span class="col col-6 border mw-100 card-header">Filing Status and Witholdings</span>
            </div>
            <div class="row">
                <span class="col col-3 border">Filing Status</span>
                <span class="col col-3 border">{{jobInfo.filing_status}}</span>
            </div>
            <div class="row">
                <span class="col col-3 border">Allowances</span>
                <span class="col col-3 border">{{jobInfo.allowances}}</span>
            </div>
        </div>

        <!-- Pre-Tax Adjustments -->
        <div class="col col-12" style="margin-bottom: 1em;">
            <div class="row">
                <span class="col col-6 border mw-100 card-header">Income Adjustments</span>
            </div>
            <div class="row">
                <span class="col col-3 border">Retirement Percentage</span>
                <span class="col col-3 border">{{jobInfo.retirement_percent}}</span>
            </div>
            <div class="row">
                <span class="col col-3 border">Other Pre-Tax Amount</span>
                <span class="col col-3 border">{{jobInfo.pretax_static}}</span>
            </div>
            <div class="row">
                <span class="col col-3 border">Other Post-Tax Amount</span>
                <span class="col col-3 border">{{jobInfo.posttax_static}}</span>
            </div>
        </div>

        <!--Estimated Paycheck -->
        <div class="col col-12" style="margin-bottom: 1em;">
            <div class="row">
                <span class="col col-6 border mw-100 card-header">Estimated Paycheck</span>
            </div>
            <div class="row">
                <span class="col col-3 border">Net Paycheck</span>
                <span class="col col-3 border">{{afterTax}}</span>
            </div>
            <div class="row">
                <span class="col col-3 border">Taxable Income</span>
                <span class="col col-3 border">{{taxableIncome}}</span>
            </div>
        </div>
    </div>
</div>
</div>
