<div ng-include src="'partials/navigation.html'"></div>
<h1>Create Event</h1>
<h3>Placeholder: You will be creating events for UserID {{user_id}}</h3>
<div ng-if="errorMessage">{{ errorMessage }}</div>
<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="event-title">Event Title</label>
            <input id="event-title" class="form-control" ng-model="eventTitle" type="text" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="event-date">Date of Event</label>
            <md-datepicker id="event-date" ng-model="eventDate" md-placeholder="Enter Date"></md-datepicker>
            <label for="event-time">Time of Event</label>
            <input id="event-time" type="time" ng-model="eventTime">
        </div>
        <div class="form-group">
            <label for="event-note">Notes</label>
            <textarea id="event-note" class="form-control"  ng-model="eventNote" type="text" rows="3"></textarea>
        </div>
        <label for="event-type">Type of Event</label>
        <div class="form-group">
            <select id="event-type" ng-model="eventType">
                <option value="event">Event</option>
                <option value="expense" disabled="disabled">Expense (Coming Soon)</option>
                <option value="income" disabled="disabled">Income (Coming Soon)</option>
            </select>
        </div>

        <button type="button" class="btn btn-success" ng-click="submitEvent()">Submit Event</button>
    </form>
</div>