<ul class="menu" ng-controller = "navigationCtrl">
    <li><a href="#!/landing">Landing</a></li>
    <li ng-if = "isLoggedIn"><a href="#!/view1">View1</a></li>
    <li ng-if = "!isLoggedIn"><a href="#!/register">Sign Up</a></li>
    <li ng-if = "!isLoggedIn"><a href="#!/login">Login</a></li>
    <li ng-if = "isLoggedIn"><a href="#!/calendar">Calendar</a></li>
    <li ng-if = "isLoggedIn"><a href="#!/paycheck_estimator">Paycheck Estimator</a> </li>
    <li ng-if = "isLoggedIn"><a href="#!/logout">Logout</a></li>
    <li ng-if = "isLoggedIn"><a href="#!/budget">Budget</a></li>
  </ul>