<div ng-include src="'partials/navigation.html'"></div>
<h2>Test User</h2>
<div ng-repeat="user in users">
    <ul>
        <li>Name: {{user.first_name}} {{user.last_name}}</li>
        <li>Email: {{user.email_address}}</li>
    </ul>
</div>
<h2>Test Event</h2>
<div ng-repeat="rule in rules">
    <ul>
        <li>Title: {{rule.title}}</li>
        <li>Start: {{rule.start_datetime}}</li>
        <li>Notes: {{rule.notes}}</li>
        <li><button type="button" class="btn btn-success" ng-click="DeleteEvent(rule.event_id)">Delete: {{rule.event_id}}</button>
    </ul>
</div>